# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code files
.vscode/

# PyCharm files
.idea/

# Distribution / Packaging
build/
dist/
cache/
.wdm/
Lib/
Include/
Scripts/
*.egg-info/
*.egg
*.whl

# Logs and debug files
*.log

# Test results
*.out
*.coverage
.coverage.*

# Environment variables and settings
.env
*.env

pip-log.txt
pip-delete-this-directory.txt

# macOS files
.DS_Store

# Windows files
Thumbs.db
/databases/service-account.json